<section>
    <h2>OUR MENU</h2>

    <div>
        <div class="element">
            <img src="./../../../assets/img/section3/R1.png">
    
            <div>
                <h3>Tonkotsu Ramen</h3>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td> 11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td> 13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
    
        <div class="element">
            <img src="./../../../assets/img/section3/R2.png">
    
            <div class="left-text">
                <h3>Spicy Miso Ramen</h3>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td> 11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td> 13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
    
        <div class="element">
            <img src="./../../../assets/img/section3/R3.png">
    
            <div>
                <h3>Shio Ramen</h3>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td> 11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td> 13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>