<section>
    <div>
        <h1>HOW TO ORDER</h1>

        <div>
            <div>
                <img src="./../../../assets/img/section2/noodle.png" alt="">
                <span>Pick your Noodle</span>
            </div>
            <div>
                <img src="./../../../assets/img/section2/broth.png" alt="">
                <span>Pick your Broth</span>
            </div>
            <div>
                <img src="./../../../assets/img/section2/egg.png" alt="">
                <span>Add your toppings</span>
            </div>
        </div>
    </div>
</section>